<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<footer>
  <div class="footer-content">
    <h4>Web Page Name</h4>
    <p>
      This website is used for displaying and predicting the vector borne diseases data across India.
    </p>
    <ul class="socials">
      <li>
        <a href="#"><i class="fa fa-facebook"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-twitter"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-google-plus"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-youtube"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-linkedin-square"></i></a>
      </li>
    </ul>
  </div>
  <div class="footer-bottom">
    <p>copyright &copy; <a href="#"></a></p>
    <div class="footer-menu">
      <ul class="f-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/vaccines">Vaccines</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/data">Data</a></li>
      </ul>
    </div>
  </div>
</footer>
