<div class="top">
    <div class="dp">Vector Borne Diseases</div>
    <div>|</div>
    <!-- <div>Corona</div> -->
    <!-- <div>|</div> -->
    <div>
        <%= name %>
    </div>

</div>

<div class="represent">
    VECTOR BORNE DISEASE PREDICTION dashboard
</div>

<div class="various">
    <a href="/" <% if (page_name==='main' ) { %>class="current"<% } %>>
            <div class="Cases Underline" onclick="underline(this)">Cases</div>
    </a>
    <a href="/vaccines" <% if (page_name==='vaccines' ) { %>class="current"<% } %>> <div class="Vaccines Underline"
                onclick="underline(this)">Vaccines</div></a>
    <a href="/variants" <% if (page_name==='variants' ) { %>class="current"<% } %>> <div class="Variant Underline"
                onclick="underline(this)">Variants</div></a>
    <a href="/about" <% if (page_name==='about' ) { %>class="current"<% } %>> <div class="About Underline"
                onclick="underline(this)">About</div></a>
    <a href="/data" <% if (page_name==='data' ) { %>class="current"<% } %>> <div class="Data Underline"
                onclick="underline(this)">Data</div></a>
</div>

<!-- <script src="main.js" defer></script> -->