<div class="top">
    <div class="dp">Vector Borne Diseases</div>
    <div>|</div>
    <!-- <div>Corona</div> -->
    <!-- <div>|</div> -->
    <div>
        <%= name %>
    </div>

</div>

<div class="represent" style="background-color:red">
    <p>VECTOR BORNE DISEASE PREDICTION dashboard</p>

    <a href="/" class="represent-pred">Analysis</a>
</div>