@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");


.searchdata {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2%;
  font-family: "Noto Sans", sans-serif;
  font-weight: bolder;
  
}


iframe{
    width:100%;
    /* aspect-ratio: 1.75; */
    /* margin-left:0px; */
    /* margin-right:40px; */
}

