
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="vaccines.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <body>
        <%- include('./partials/header.ejs') %>
        <h1>About the Vector-Borne disease dashboard</h1>
        <div class="container">
            <h3>
                <span>Introduction to data and visualizations</span>
                <span class="line"></span>
            </h3>
            <p>
                Welcome to the Vector-Borne Diseases (VBD) dashboard, a comprehensive platform presenting official weekly counts of vector-borne disease cases, related fatalities, 
                and vaccine utilization reported by regions, states, and territories in India. Our primary objective is to offer an up-to-date data visualization, data dissemination,
                and data exploration resource, bridging users to valuable and informative materials.
    
                It is crucial to exercise caution when interpreting the data, recognizing potential variations due to diverse inclusion criteria, and disparate data cut-off times
                employed by the WHO, national public health authorities, and other sources. We acknowledge that differences may arise in information products, stemming from various
                factors such as case detection, definitions, laboratory testing, vaccination strategies, and reporting methodologies. While we strive for accuracy and reliability,
                it's essential to note that all data undergo continuous verification and may be subject to change.
    
                The designations and presentations within this dashboard are not indicative of any opinion held by the WHO regarding the legal status of any region, state, or territory,
                or its authorities. Additionally, the delineation of borders is represented by dotted and dashed lines on maps, signifying approximate border lines for which there may not
                yet be full agreement.
    
                Our commitment is to provide a robust tool for understanding the landscape of vector-borne diseases in India, recognizing the complexities inherent in data interpretation and
                emphasizing the importance of ongoing verification and collaboration with various health authorities and stakeholders.
            </p>
            <br><br>
        </div>
    
        <div class="container">
            <h3>
                <span>Updates to the Vector-Borne Diseases (VBD) Dashboard</span>
                <span class="line"></span>
            </h3>
            <p>Our commitment to providing a comprehensive resource for vector-borne diseases in India extends into 2024, with continuous iterations planned to integrate additional data disseminated
               by various health organizations and services. This ongoing effort aims to establish a central hub for all information related to vector-borne diseases, offering a consolidated source for
               surveillance, vaccination, and impact data.
               In December 2023, the WHO Health Emergencies Programme successfully migrated the Vector-Borne Diseases Dashboard to data.who.int.
               This transition marked a significant evolution in our approach, aligning with the changing landscape of Member State reporting, which now occurs on a weekly basis. 
               The update also reflected the reclassification of vector-borne diseases from a specific health emergency status to an ongoing concern, necessitating a shift in our data reporting strategies.
               This migration was part of an iterative process, involving the amalgamation of data from various sources into a unified and centralized dashboard. 
               By leveraging the enhanced data presentation and infrastructure of WHO’s data.who.int, we have not only adapted to the evolving nature of vector-borne diseases but have also improved the clarity,
               accessibility, and multilingual capability of our data presentation. This iterative approach ensures that our dashboard remains a dynamic and reliable tool for stakeholders, researchers, and the public,
               offering valuable insights into the landscape of vector-borne diseases in India.</p>
            <br><br>
        </div>
    
        <div class="container">
            <h3>
                <span>Data collection from country, areas and territories</span>
                <span class="line"></span>
            </h3>
            <p>Starting from August 2023, the data collection process for Vector-Borne Diseases (VBD) in India has transitioned to a weekly reporting schedule. 
               This adjustment reflects our dedication to maintaining an updated and accurate representation of the vector-borne disease landscape in the country.
               Member State countries actively participate in this collective effort, receiving guidance on the effective sharing of their data.
               To facilitate transparency and collaboration, a downloadable copy of the country reporting form is made available below, offering reference material for stakeholders,
               researchers, and the public. 
               This resource serves as a tool to enhance understanding and awareness, fostering a collective approach to addressing the challenges posed by vector-borne diseases in India.
               The weekly reporting schedule and streamlined data collection process contribute to the timeliness and reliability of the information presented on our Vector-Borne Diseases Dashboard.
            </p>
    
            <br><br>
        </div>
    
        <h1>Contact us</h1>
        <div class="container">
            <h3>
                <span></span>
                <span class="line"></span>
            </h3>
            <p>For specific inquiries and feedback regarding the Vector-Borne Diseases (VBD) Dashboard and associated applications, we encourage you to reach out to us using the feedback form available
            on our VBD Explorer app.
            If you have other inquiries not related to the VBD Dashboard, please feel free to contact us via email at support@nitj.ac.in for additional information and assistance.
            For direct communication with our team member, you can also reach out to manyas.cs.21@nitj.ac.in.
            We appreciate your engagement and look forward to assisting you with any questions or feedback you may have.
            </p>
    
            <br><br>
        </div>
        <!-- <script src="main.js"></script> -->
    
        <%- include('./partials/footer.ejs') %>
</body>