
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="vaccines.css">
    <link rel="stylesheet" href="footer.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <%- include('./partials/header.ejs') %>
    <h1>Vector-Borne Disease Data</h1>
    <div class="container">
        <h3>
            <span>Introduction to data and visualizations</span>
            <span class="line"></span>
        </h3>
        <p>The WHO coronavirus (COVID-19) dashboard presents official weekly counts of COVID-19 cases, deaths and vaccine utilisation reported by countries, territories and areas. Through this dashboard, we aim to provide a frequently updated data visualization, data dissemination and data exploration resource, while linking users to other useful and informative resources.</p>
        <p>Caution must be taken when interpreting all data presented, and differences between information products published by WHO, national public health authorities, and other sources using different inclusion criteria and different data cut-off times are to be expected. While steps are taken to ensure accuracy and reliability, all data are subject to continuous verification and change. All counts are subject to variations in case detection, definitions, laboratory testing, vaccination strategy, and reporting strategies.</p>
        <p>The designations employed and the presentation of these materials do not imply the expression of any opinion whatsoever on the part of WHO concerning the legal status of any country, territory or area or of its authorities, or concerning the delimitation of its frontiers or boundaries. Dotted and dashed lines on maps represent approximate border lines for which there may not yet be full agreement.</p>
        <br><br>
    </div>
    <div class="container">
        <h3>
            <span>Updates to the WHO COVID-19 dashboard</span>
            <span class="line"></span>
        </h3>
        <p>This dashboard will be iterated upon throughout 2024 to incorporate further COVID-19 data currently disseminated by WHO in other apps and services, creating a central location and source for all Coronavirus (COVID-19) surveillance, vaccination and impact data.</p>
        <p>The WHO Health Emergencies Programme migrated the COVID-19 dashboard to data.who.int in December 2023. This migration and update to the dashboard reflected the change in Member State reporting from daily to weekly data, the declassification of the COVID-19 outbreak from a Public Health Emergency of International Concern (PHEIC) and an iterative process of combining data presentation from multiple sources into one centralized dashboard. The dashboard leverages the new data presentation and infrastructure of WHO’s data.who.int; increasing the clarity, accessibility and multilingual capability of COVID-19 data presentation.</p>
        <br><br>
    </div>
    <div class="container">
        <h3>
            <span>Data collection from countries, areas and territories</span>
            <span class="line"></span>
        </h3>
        <p>Since August 2023, the reporting of COVID-19 data to WHO from WHO Member State countries moved to weekly reporting. Countries are provided with guidance on their data sharing. A copy of the country reporting form is available for reference as a download below.</p>
    </div>
    <!-- <script src="main.js"></script> -->

    <%- include('./partials/footer.ejs') %>
</body>
