
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="vaccines.css">
    <link rel="stylesheet" href="footer.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <h1>VBD dashboard data</h1>
    <div class="container">
        <h3>
            <span>Interpretation and correlation of data</span>
            <span class="line"></span>
        </h3>
        <p>
            Interpreting and correlating data within the Vector-Borne Diseases (VBD) Dashboard requires careful consideration and awareness of potential variations. 
            It is essential to exercise caution when analyzing the presented data, recognizing the inherent differences between information products published by various entities, 
            including the WHO, national public health authorities, and other sources. These disparities may arise due to distinct inclusion criteria and varying data cut-off times, 
            influencing the overall interpretation.
            While diligent efforts are made to maintain accuracy and reliability, 
            it is crucial to acknowledge that all data undergo continuous verification and may be subject to change. 
            Counts within the dashboard are susceptible to variations stemming from factors such as case detection, definitions, laboratory testing, vaccination strategies, and reporting methodologies.
            To provide a comprehensive understanding, additional important considerations are outlined under the respective Data Sources section below the dashboard. 
            This information highlights specific nuances and contextual details related to the sources contributing to the presented data. This transparency ensures that users are well-informed about 
            the intricacies involved in data collection, fostering a responsible and informed interpretation of the vector-borne disease landscape in India.
        </p>
        <br><br>
    </div>

    <iframe src="https://charts.mongodb.com/charts-project-0-qvhju/embed/charts?id=6655e3cd-7d9c-4cce-84c5-3e65f70c65e6&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>

    <div class="filebuttons">
        <a href="/getanalysisfilecsv"><button class="downloadFile" >Download CSV</button></a>
     <a href="/getanalysisfilejson"><button class="downloadFile">Download JSON</button></a>
     </div>

    <!-- <script src="main.js"></script> -->

    <%- include('./partials/footer.ejs') %>
</body>
