
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="vaccines.css">
    <link rel="stylesheet" href="footer.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <h1>VBD dashboard data</h1>
    <div class="container">
        <h3>
            <span>Interpretation and correlation of data</span>
            <span class="line"></span>
        </h3>
        <p>
            Interpreting and correlating data within the Vector-Borne Diseases (VBD) Dashboard requires careful consideration and awareness of potential variations. 
            It is essential to exercise caution when analyzing the presented data, recognizing the inherent differences between information products published by various entities, 
            including the WHO, national public health authorities, and other sources. These disparities may arise due to distinct inclusion criteria and varying data cut-off times, 
            influencing the overall interpretation.
            While diligent efforts are made to maintain accuracy and reliability, 
            it is crucial to acknowledge that all data undergo continuous verification and may be subject to change. 
            Counts within the dashboard are susceptible to variations stemming from factors such as case detection, definitions, laboratory testing, vaccination strategies, and reporting methodologies.
            To provide a comprehensive understanding, additional important considerations are outlined under the respective Data Sources section below the dashboard. 
            This information highlights specific nuances and contextual details related to the sources contributing to the presented data. This transparency ensures that users are well-informed about 
            the intricacies involved in data collection, fostering a responsible and informed interpretation of the vector-borne disease landscape in India.
        </p>
        <br><br>
    </div>
<<<<<<< HEAD

    
<!-- <script src="main.js"></script> -->
</body>
=======
    <div class="container">
        <h3>
            <span>Updates to the WHO COVID-19 dashboard</span>
            <span class="line"></span>
        </h3>
        <p>This dashboard will be iterated upon throughout 2024 to incorporate further COVID-19 data currently disseminated by WHO in other apps and services, creating a central location and source for all Coronavirus (COVID-19) surveillance, vaccination and impact data.</p>
        <p>The WHO Health Emergencies Programme migrated the COVID-19 dashboard to data.who.int in December 2023. This migration and update to the dashboard reflected the change in Member State reporting from daily to weekly data, the declassification of the COVID-19 outbreak from a Public Health Emergency of International Concern (PHEIC) and an iterative process of combining data presentation from multiple sources into one centralized dashboard. The dashboard leverages the new data presentation and infrastructure of WHO’s data.who.int; increasing the clarity, accessibility and multilingual capability of COVID-19 data presentation.</p>
        <br><br>
    </div>
    <div class="container">
        <h3>
            <span>Data collection from countries, areas and territories</span>
            <span class="line"></span>
        </h3>
        <p>Since August 2023, the reporting of COVID-19 data to WHO from WHO Member State countries moved to weekly reporting. Countries are provided with guidance on their data sharing. A copy of the country reporting form is available for reference as a download below.</p>
    </div>
    <!-- <script src="main.js"></script> -->

    <%- include('./partials/footer.ejs') %>
</body>
