
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="footer.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <!-- <div class="top">
        <div class="dp">Disease Prediction</div>
        <div>|</div>
        <div>Data</div>
        <div>|</div>
    </div>

    <div class="represent">
        DISEASE PREDICTION dashboard
    </div> -->

    <%- include('./partials/header.ejs') %>

    <!-- <form action="/post" class="form">
        <div class="selection">
            <select name="location" onChange="mapLoader()" id="location">
                <option value="World" selected>World</option>
                <option value="India">India</option>
                <option value="Punjab">Punjab</option>
                <option value="Andhra Pradesh">Andhra Pradesh</option>
                <option value="Delhi">Delhi</option>
            </select>


            <select name="diseases" onChange="mapLoader()" id="diseases">
                <option value="Malaria" selected>Malaria</option>
                <option value="Dengue">Dengue</option>
                <option value="Covid-19">Covid-19</option>
                <option value="Zika Virus">Zika Virus</option>
            </select>

            <input type="date" label="date" onChange="mapLoader()" placeholder="Date" class="fromdate" name="fromdate">
            <input type="date" label="date" onChange="mapLoader()" placeholder="Date" class="todate" name="todate">

            <!-- <button type="submit">Generate</button> -->


        <!-- </div> -->
    <!-- </form> -->

<!---   <div class="various">
        <a href="/">
        <div class="Cases Underline" onclick="underline(this)">Cases</div>
    </a>
       <a href="/vaccines"> <div class="Vaccines Underline" onclick="underline(this)">Vaccines</div></a>
       <a href="/variants"> <div class="Variant Underline" onclick="underline(this)">Variants</div></a>
        <a href="/about"> <div class="About Underline" onclick="underline(this)">About</div></a>
       <a href="/data"> <div class="Data Underline" onclick="underline(this)">Data</div></a>
     </div> -->

     <!-- width="1024" height="612" -->
    <div class="map">
<iframe title="chart" width="450" height="750"
    src="https://app.powerbi.com/view?r=eyJrIjoiM2IwYjQ5MjMtNjJkYi00NzYwLWExN2UtYzkyNjlkMTUyZTUxIiwidCI6ImRmODY3OWNkLWE4MGUtNDVkOC05OWFjLWM4M2VkN2ZmOTVhMCJ9"
    frameborder="0" allowFullScreen="true"></iframe>
    </div>
    
    <!-- <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ullam adipisci voluptatem voluptates? Ducimus neque autem, dicta ea officia illum ullam eum sint assumenda odit aliquam quod qui dolor rem!
    Recusandae aliquam ratione nulla, veritatis molestiae ipsam. Sed architecto sint voluptatibus omnis voluptatum ullam corporis quia cumque illo! Quos saepe velit quasi nemo eaque. Laudantium doloribus atque fuga commodi facilis.
    Alias, eligendi laboriosam repellat adipisci soluta illo in facere quis laborum odio neque nam facilis itaque. Voluptatem velit distinctio id dolor hic ea enim asperiores, soluta culpa, quasi doloribus qui.
    Eaque hic tempore sapiente odit, rem nisi nemo minima eum! Fugit, sint rem molestiae culpa nisi illo sequi quam! Quidem consequuntur possimus sunt alias eligendi nisi delectus ducimus ipsam voluptate.
    Dolor incidunt voluptatem aut eum debitis quidem cupiditate sapiente excepturi inventore itaque, sunt atque dolore quaerat labore corrupti dolorem reprehenderit soluta omnis quos placeat vel accusantium architecto ullam consequatur! Saepe?</div>
 -->

  <!-- <a href="https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/amritsar/2024-04-01/2024-04-30?unitGroup=metric&key=RPCF6N23JJSRWDKTBS8PUXZ6W&contentType=json">Hello</a> -->

    
 <%- include('./partials/footer.ejs') %>
</body>



</html>
