<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="vaccines.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <h1>Vector-Borne Disease Variants</h1>
        <div class="container">
            <h3>
                <span>Vaccination against Malaria</span>
                <span class="line"></span>
            </h3>
            <p>
                Vaccines for malaria have been a focus of extensive research efforts for decades, aiming to combat the
                disease caused by Plasmodium parasites transmitted through the bite of infected Anopheles mosquitoes.
                The leading candidate, RTS,S/AS01 (Mosquirix), developed by GlaxoSmithKline (GSK) in collaboration with
                the PATH Malaria Vaccine Initiative, has shown partial protection in clinical trials, particularly in
                young children and infants. However, challenges persist, including modest efficacy, variability in
                protection, and the need for enhanced durability. Research continues on various vaccine approaches,
                targeting different stages of the malaria parasite's life cycle, with promising candidates in
                development. Despite complexities in vaccine development and delivery logistics, sustained investment
                and collaboration are crucial for achieving the goal of effective malaria vaccines to combat this global
                health threat.

            </p>
            <br><br>
        </div>

        <div class="container">
            <h3>
                <span>Vaccination against Dengue</span>
                <span class="line"></span>
            </h3>
            <p>Vaccination for dengue fever, a viral illness transmitted primarily by Aedes mosquitoes, has been a
                significant area of research aimed at controlling the spread of this disease. Dengue virus has four
                distinct serotypes, and previous infection with one serotype can lead to severe illness upon subsequent
                infection with another serotype. The only licensed dengue vaccine to date, Dengvaxia (CYD-TDV), has
                faced challenges, including concerns about its safety and efficacy, particularly in individuals who have
                not been previously exposed to the virus. Efforts are ongoing to develop improved dengue vaccines that
                provide robust and long-lasting immunity against all serotypes, with several vaccine candidates in
                clinical trials. Despite hurdles in vaccine development, vaccination remains an essential strategy for
                dengue prevention, along with mosquito control measures and public health initiatives to reduce mosquito
                breeding sites and minimize human-mosquito contact. Continued research and investment are critical for
                the development of effective dengue vaccines to mitigate the burden of this mosquito-borne disease
                globally.
            </p>
            <br><br>
        </div>

        <div class="container">
            <h3>
                <span>Vaccination against Zika Virus</span>
                <span class="line"></span>
            </h3>
            <p>Vaccination efforts against the Zika virus, a mosquito-borne pathogen primarily transmitted by Aedes
                mosquitoes, have been actively pursued since the virus gained prominence due to outbreaks in recent
                years. While no licensed vaccine is currently available, research and development initiatives have made
                strides in vaccine candidates, aiming to prevent Zika virus infection, particularly in pregnant women
                who face heightened risks of adverse outcomes. These vaccine candidates target various aspects of the
                virus, including its ability to cause birth defects such as microcephaly. Additionally, advancements in
                understanding Zika virus immunology and vaccine technology have paved the way for promising candidates
                undergoing preclinical and clinical evaluations. Continued investment in Zika virus vaccine research,
                coupled with global collaboration and public health initiatives, is crucial for the eventual development
                and deployment of safe and effective vaccines to mitigate the impact of Zika virus outbreaks and protect
                vulnerable populations.

            </p>

            <br><br>
        </div>

        <div class="container">
            <h3>
                <span>Vaccination against Yellow Fever</span>
                <span class="line"></span>
            </h3>
            <p>Vaccination against yellow fever is a critical component in the prevention and control of this
                potentially deadly viral hemorrhagic disease transmitted primarily by Aedes or Haemagogus mosquitoes.
                The yellow fever vaccine, a live-attenuated vaccine, has been highly effective in preventing outbreaks
                and reducing the burden of disease in endemic regions. Symptoms of yellow fever include fever, jaundice,
                muscle pain, and vomiting, with severe cases leading to organ failure and death. Vaccination campaigns,
                particularly in areas with high transmission rates, have played a crucial role in protecting vulnerable
                populations and limiting the spread of the disease. Alongside vaccination efforts, mosquito control
                measures remain essential for reducing the transmission of yellow fever virus. Continued global
                vaccination programs, coupled with efforts to strengthen healthcare infrastructure and surveillance, are
                essential for achieving sustained control and eventual elimination of yellow fever as a public health
                threat.
            </p>

            <br><br>
        </div>

        <div class="container">
            <h3>
                <span>Vaccination against Lyme Disease</span>
                <span class="line"></span>
            </h3>

            <p>Vaccination against Lyme disease, a bacterial infection transmitted by the bite of infected blacklegged
                ticks, presents a promising avenue for disease prevention. While there is currently no licensed vaccine
                available, significant research efforts are underway to develop safe and effective vaccines. The primary
                focus of these vaccines is to target the bacterium Borrelia burgdorferi, the causative agent of Lyme
                disease, and stimulate the immune system to produce protective antibodies. Past vaccine candidates such
                as LYMErix showed efficacy in preventing Lyme disease, but concerns over side effects led to its
                withdrawal from the market. Recent advancements in vaccine technology offer hope for the development of
                next-generation Lyme disease vaccines with improved safety profiles and broader coverage against diverse
                strains of Borrelia burgdorferi. Continued investment in research and development is essential to
                realize the potential of Lyme disease vaccines in reducing the burden of this prevalent tick-borne
                illness.
            </p>

            <br><br>
        </div>


        <div class="container">
            <h3>
                <span>Vaccination against Japanese</span>
                <span class="line"></span>
            </h3>

            <p>

                Vaccination against Japanese encephalitis, a viral infection transmitted by Culex mosquitoes, is a vital
                strategy in preventing this potentially severe and sometimes fatal disease. The primary vaccine for
                Japanese encephalitis is based on an inactivated virus and has proven to be highly effective in
                preventing infection. It is recommended for individuals living in or traveling to areas where the
                disease is endemic, particularly in rural agricultural regions of Asia and the Western Pacific.
                Vaccination campaigns targeting high-risk populations, such as children, travelers, and those working in
                agriculture, have contributed significantly to reducing the burden of Japanese encephalitis in endemic
                regions. Continued efforts to increase vaccine coverage, enhance surveillance, and improve access to
                vaccination in at-risk communities are essential for controlling and ultimately eliminating Japanese
                encephalitis as a public health threat.
            </p>
            <br><br>
        </div>

        <!-- <script src="main.js"></script> -->
</body>