<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="vaccines.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <h1>Vector-Borne Disease Variants</h1>
        <div class="container">
            <h3>
                <span>Malaria</span>
                <span class="line"></span>
            </h3>
            <p>
                Malaria is a serious infectious disease caused by parasites of the genus Plasmodium and transmitted to
                humans through the bite of infected Anopheles mosquitoes. The two most common variants of the malaria
                parasite that infect humans are Plasmodium falciparum and Plasmodium vivax. Symptoms of malaria
                typically include fever, chills, headache, and muscle aches. Prevention strategies for malaria include
                the use of bed nets, insect repellents containing DEET, and antimalarial drugs like chloroquine or
                artemisinin-based combination therapies.
            </p>
            <br><br>
        </div>

        <div class="container">
            <h3>
                <span>Dengue</span>
                <span class="line"></span>
            </h3>
            <p>Dengue fever, caused by the dengue virus, is transmitted to humans primarily by Aedes mosquitoes,
                particularly Aedes aegypti and Aedes albopictus. The dengue virus has four distinct serotypes (DEN-1,
                DEN-2, DEN-3, and DEN-4), each capable of causing the disease. Symptoms of dengue fever include fever,
                severe headache, joint pain, and rash. Prevention measures for dengue fever include mosquito control
                efforts such as eliminating breeding sites, using insect repellents, and wearing long sleeves and pants
                to avoid mosquito bites.</p>
            <br><br>
        </div>

        <div class="container">
            <h3>
                <span>Zika Virus</span>
                <span class="line"></span>
            </h3>
            <p>Zika virus is another mosquito-borne disease transmitted primarily by Aedes mosquitoes. Symptoms of Zika
                virus infection are usually mild and include fever, rash, joint pain, and conjunctivitis (red eyes).
                Pregnant women infected with Zika virus face an increased risk of giving birth to babies with birth
                defects. Preventive measures for Zika virus include mosquito control measures such as eliminating
                standing water, using insect repellents, and avoiding travel to areas with ongoing Zika virus
                transmission.</p>

            <br><br>
        </div>

        <div class="container">
            <h3>
                <span>Yellow Fever</span>
                <span class="line"></span>
            </h3>
            <p>Yellow fever is a viral hemorrhagic fever caused by the yellow fever virus, which is transmitted to
                humans primarily through the bite of infected Aedes or Haemagogus mosquitoes. Symptoms of yellow fever
                include fever, jaundice (yellowing of the skin and eyes), muscle pain, and vomiting. Vaccination is a
                key preventive measure for yellow fever, along with mosquito control efforts such as eliminating
                mosquito breeding sites and using insect repellents.</p>

            <br><br>
        </div>

        <div class="container">
            <h3>
                <span>Lyme Disease</span>
                <span class="line"></span>
            </h3>

            <p>Lyme disease is a bacterial infection caused by the spirochete Borrelia burgdorferi and transmitted to
                humans through the bite of infected blacklegged ticks, particularly Ixodes scapularis in the United
                States. The hallmark symptom of Lyme disease is erythema migrans, a bullseye-shaped rash that appears at
                the site of the tick bite. Other symptoms may include fever, fatigue, and joint pain. Preventive
                measures for Lyme disease include avoiding tick habitats, wearing protective clothing, performing tick
                checks, and promptly removing ticks.</p>

            <br><br>
        </div>


        <div class="container">
            <h3>
                <span>Japanese</span>
                <span class="line"></span>
            </h3>

            <p>Japanese encephalitis is a viral infection caused by the Japanese encephalitis virus, which is
                transmitted to humans primarily through the bite of infected Culex mosquitoes. Symptoms of Japanese
                encephalitis may include fever, headache, neck stiffness, and coma. Vaccination is an important
                preventive measure for Japanese encephalitis, particularly for travelers to endemic regions, along with
                mosquito control efforts to reduce mosquito populations and minimize human-mosquito contact.</p>
            <br><br>
        </div>

        <!-- <script src="main.js"></script> -->
</body>